<!DOCTYPE html>
<html lang="pl">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">

  <title>Jedzonko</title>

  <title>jedzeniewinternacie.pl</title>

  <style>
    table,caption{
      font-weight:bold;
      font-family:'Trebuchet MS', Helvetica, sans-serif;
      font-size: 15px;
    }
    table {
      border-collapse: collapse;
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;

    }
    table, th, td {
      border: 1px solid black;}
    .day{
      color: #fff;
      background-color: #343a40;
      border-color: #454d55;
    }
</style>
  </head>
  <body>


      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="" width="50" height="35" class="d-inline-block align-top" alt="">
          jedzeniezinternatu.pl
        </a>

      </nav>

      {% block content %}
      {% endblock %}



  </body>
</html>
