{% extends 'polls/base.html' %}

{% block content %}
<div>{{day}}</div>

<div>{{hour}}</div>

<div>{{p}}</div>
<div class="container-fluid">
    <h2>Basen CityZen</h2>
    <table>
        <thead class="thead-dark" style="text-align:center">
            <tr>
                <th>Godzina</th>
                <th>Ilosc wolnych torów</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>31312</td>
                <td>4</td>
            </tr>
         
            <tr>
                <td>31312</td>
                <td>4</td>
            </tr>

            <tr>
                <td>31312</td>
                <td>4</td>
            </tr>
         
            <tr>
                <td>31312</td>
                <td>4</td>
            </tr>

            <tr>
                <td>31312</td>
                <td>4</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
